project:
  type: website
  output-dir: _site

website:
  title: "Machine Learning for Dummies"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/j031nich0145/Machine_Learning_for_Dummies

format:
  html:
    theme:
      light: cosmo
      dark: darkly
    toc: true
